.container{	
	width: 1000px;
    border: 1px solid #efefef;
    text-align: center;
    padding: 30px;
    margin: auto;
    background: #f5f5f5;
    border-radius: 25px;
}
.form{
    
    overflow: hidden;
    width: 80%;
    padding: 25px;
    margin: auto;
    margin-top: 39px;
}
input[type="text"],input[type="number"],input[type="tel"]{
	width: 25%;
    height: 30px;
    padding-left: 25px;
    color: #655d5d;
  	 outline-width: 0;
     border: 1px solid #efefef;
     border-radius: 25px;
}

input[type="button"]{
	background-color: #CDDC39;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5%;
    border-radius: 5%;
}
 
 p{
 	    color: #8bb5ca;
    border: 1px solid #f5f5f5;
    width: 70%;
    margin: auto;
    padding: 25px;
    margin-top: 20px;
    background: #f1f1f1;
 }
 h1{
 	    color: #cddc39;
    	font-family: monospace;
        float: left;
        display: inline-block;
 }

#tableau{
   visibility : hidden;
   margin: auto;
   margin-top: 25px;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
      background: #606b65;
    font-weight: initial;
    color: whitesmoke;
}

td {  
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  

#infos{
   // visibility : hidden;
    float: right;
   // display: inline-block;
   width:  500px;

}