/* Start My Framework */
.container{

  width: 1300px;

  margin: auto;
}
*{
  font-family: 'Open Sans', sans-serif;
}







/* End My Framework */
/* Start Header */
.nav-top{
  height: 60px;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111111+0,131313+41,131313+41,131313+44,131313+45,131313+49,000000+49,131313+49,131313+49,2b2b2b+50,2b2b2b+50,1c1c1c+50,1c1c1c+50,2c2c2c+51,474747+61,666666+75,595959+88,4c4c4c+100 */
background: #111111; /* Old browsers */
background: -moz-linear-gradient(left, #111111 0%, #131313 41%, #131313 41%, #131313 44%, #131313 45%, #131313 49%, #000000 49%, #131313 49%, #131313 49%, #2b2b2b 50%, #2b2b2b 50%, #1c1c1c 50%, #1c1c1c 50%, #2c2c2c 51%, #474747 61%, #666666 75%, #595959 88%, #4c4c4c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #111111 0%,#131313 41%,#131313 41%,#131313 44%,#131313 45%,#131313 49%,#000000 49%,#131313 49%,#131313 49%,#2b2b2b 50%,#2b2b2b 50%,#1c1c1c 50%,#1c1c1c 50%,#2c2c2c 51%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #111111 0%,#131313 41%,#131313 41%,#131313 44%,#131313 45%,#131313 49%,#000000 49%,#131313 49%,#131313 49%,#2b2b2b 50%,#2b2b2b 50%,#1c1c1c 50%,#1c1c1c 50%,#2c2c2c 51%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 */
}
.nav-top .logo{
  float: left;
  margin-top: 15px;
}
.nav-top .flag{
  float: right;
  margin-top: 20px;
}

.nav-bottom{

  overflow: hidden;
  color: #fff;
  background-color: black;
  margin: auto;
}
.nav-bottom nav .menu{
  float: left;
}
.nav-bottom nav ul li{
  display: inline;
  margin-right: 20px;
}
.nav-bottom nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}
.nav-bottom nav .tel{
  float: right;
}
/* End Header */
/* Start Register */
section{
  background: url('../images/bg.png');
  overflow: hidden;
  height: 1000px;
}
.register-menu .cover1{
  color: #fff;
  background-color: #4b250d;
  margin-top:30px;
  overflow: hidden;
}
.register-menu ul{
  float: right;
}
.register-menu ul li{
  display: inline;
  margin-right: 30px;
}
.register-menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}
.register-menu ul li i{
  margin-right: 5px;
  color: #ccc;
  font-size: 20px;
}
.register-menu h1{
  padding:10px;
}
.register-form .cover2{
  background-color: #2d1506;
  margin-top: 30px;
  height: 700px;
  overflow: hidden;
}

.register-form{
  color: #fff;

}
.register-form .dotted{
  border-bottom: 2px dotted #fff;
  width: 100%;
}

.general-info{
  overflow: hidden;
  height: 150px;
}
.general-info h2{
  display: inline;
  padding-left: 20px;
  padding-top: 30px
}
.general-info span{
  float: right;
  display: inline;
  padding-top: 20px;
  padding-right: 20px;
}

#contact-form{
  width: 50%;
  margin: auto;
  margin-right: 500px;
  text-align: right;
  margin-bottom: 30px;
}
#contact-form label{
  margin-right: 20px;

}

#contact-form input{
  width: 50%;
  padding: 5px;
  margin-bottom: 8px;
}
.radio{
  margin-top: -50px;
  margin-left: 380px;
}
.radio input{

}

/* End Register */
